# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual env
.env
.venv
.idea

# VSCode
.vscode/

# Django
*.log
/static/
/media/

# Pytest/coverage
htmlcov/
.coverage

celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
